* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    display: inline-block;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #121212;
}

ul li {
    list-style: none; 
}

.face {
    background-image:url(../img/faceBlack.png) ;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align:center;
    padding: 5px 20px;
    padding-top: 50px;
    display: inline-block;
    border-bottom: 4px solid #121212;
}

.face:hover {
    background-image: url(../img/face.png);
    background-color: white;
    color: #1877F2;
    border-bottom: 4px solid #1877F2;
}

.youtube {
    background-image:url(../img/youtubeBlack.png) ;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    padding: 5px 20px;
    padding-top: 50px;
    display: inline-block;
    border-bottom: 4px solid #121212;
}

.youtube:hover {
    background-image: url(../img/youtube.png);
    background-color: white;
    color: red;
    border-bottom: 4px solid red;

}

.twitter {
    background-image:url(../img/twitterBlack.png) ;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    padding: 5px 20px;
    padding-top: 50px;
    display: inline-block;
    border-bottom: 4px solid #121212;
}

.twitter:hover {
    background-image: url(../img/twitter.png);
    background-color: white;
    color: #1DA1F2;
    border-bottom: 4px solid #1DA1F2;

}

.instagram {
    background-image:url(../img/instaBlack.png) ;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    padding: 5px 20px;
    padding-top: 50px;
    display: inline-block;
    border-bottom: 4px solid #121212;
}

.instagram:hover {
    background-image: url(../img/insta.png);
    background-color: white;
    color: orangered;
    border-bottom: 4px solid orangered;

}

.maps {
    background-image:url(../img/mapsBlack.png) ;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    padding: 5px 20px;
    padding-top: 50px;
    display: inline-block;
    border-bottom: 4px solid #121212;
}

.maps:hover {
    background-image: url(../img/maps.png);
    background-color: white;
    color:#4285F4;
    border-bottom: 4px solid #4285F4;

}






