* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.box {
    
    width: 70px;
    height: 70px;
    
    background-image: url('../img/whatsapp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: whitesmoke;
    
    position: fixed;
    bottom: 20px;
    right: 20px;

    cursor: pointer;
}
   
