h1 {
    background-color: yellow; /*cor de fundo do texto*/
    color: red; /*cor do texto*/
}

h2 {
    background-color: yellow; 
    color: red;
}

.configuracao { /*aplica todas essas propriedades paras as tags com essa classe*/
    background-color: yellow;
    color: red;
}

.caixa {
    border: 5px blue; /*largura das bordas da caixa / cor da borda*/
    border-style: dashed; /*estilo da borda - tracejada*/
    color: red; /*cor do texto*/
    text-align: center; /*alinhamento do texto*/
    padding: 20px;  /*espaçamento interno das caixas*/
    margin: 30px; /*margens das caixas*/
}
